<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post">
        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" placeholder="Enter your first name" name="firstName" />

        <label for="lastName">First Name:</label>
        <input id="lastName" type="text" placeholder="Enter your last name" name="lastName" />

        <label for="email">Email:</label>
        <input id="email" type="text" name="email" readonly />

        <label for="motherTongue">Mother Tongue:</label>
        <input id="motherTongue" type="text" name="motherTongue" />

        <label for="favoriteLang">Favorite programming language:</label>
        <input id="favoriteLang" type="text" name="favoriteLang" />

        <label for="comments">Your comments:</label>
        <textarea id="comments" name="comments" maxlength="500" />
    </form>
</body>
</html>