<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    <form method="post">
        <label for="email">User Name:</label>
        <input id="email" type="text" placeholder="Enter your username or email" name="email" />

        <label for="password">Password:</label>
        <input id="password" type="password" name="password" /><br />
        <input type="submit" value="Submit" name="submit" />
    </form>
</body>
</html>